html {
	box-sizing: border-box;
}

body {
	background-color: #013344;
}

.introduction {
	color: #6297A9;
}

strong {
	color: #00BFFF;
}

.photo {
	background-image: url(../images/portfolio-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 20em;
}

ul {
	list-style: none;
}

.screencaps {
	display: inline-block;
}


.contact {
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
}
